/*å…¬å…±*/
.l-mainbg{
    background-color: #f3f7fa;
}

/*é¡µå¤´*/

.l-top-nav{
    background-color: #F9F9F9;
    border-bottom: #ECECEC 1px solid;
}
.l-top-navmain{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    color: #9A9A9A;
}
.l-top-navmain span{
    color: #f8b551;
    margin-right: 2px;
}
.l-top-navmain a{
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

/*é¡µå¤´å›¾æ ‡*/
.l-logo{
    height: 91px;
    line-height: 91px;
    overflow: hidden;
}
.l-seach{
    margin-top: 24px;

}
.l-seach a{
    font-size: 18px;
    display: inline-block;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color:#ffffff;
    background-color:#4581c0;
    margin-left:17px;
    margin-right: 16px;
    float: left;
}
.l-seach input{
    width: 321px;
    height:32px;
    float: left;

}
.l-nav-box{
    height: 54px;
    text-align: center;
    background-color:#4581c0;
}
.l-firstnav{
    float: left;
    font-size: 18px;
    color: #ffffff;
    position: relative;

}
.l-firstnava{
    display: inline-block;
    height: 51px;
    line-height: 46px;
    width:111px;
    border-top: #4581c0 solid 2px;
}
.down-nav{
    width: 100%;
    position: absolute;
    display: none;
    background: rgba(49, 103, 165, 0.9);
    z-index: 999;

}

.down-nav li:hover{
    background-color: #0D4079;
}
.down-nav li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
.l-firstnav:hover,.l-firstnav .active {
    background-color: #3167a5;
}
.l-firstnav:hover .l-firstnava,.l-firstnav .l-firstnava.active{
 border-top: 2px #B8D33C solid;
}
.l-firstnav:hover .down-nav{
    display: block;


}
/*å¤´éƒ¨æ»šåŠ¨å¤§å›¾*/
.l-banner-box{
    width: 100%;
    margin-bottom: 32px;
    z-index: 99;
}
/*é¡µå°¾*/
.l-fooder-box{
    padding: 16px 0;
    background-color:#4d545d;
    color: #f5f8fa;
    font-size: 14px;
}
.l-fooder-box .w400{
    width: 302px;
    height: 188px;
}
.fooder-logo,.fooder-nav{
    padding: 0 18px;
    border-right: #000 solid 1px;
}
.fooder-logo .wei-code2{
padding-top: 0px;
}
.fooder-logo .wei-code2 p{
    padding-left: 10px;
    width: 200px
}
.fooder-nav h3{
    padding: 0 0 4px 0;
    font-size: 16px;
}
.fooder-nav ul li{
    float: left;
    width: 92px;
    padding: 4px 0;
    text-align: left;
}
.fooder-link{
    padding: 0 8px;
}
.fooder-link h3{
    padding: 0 0 4px 0;
    font-size: 16px;
}
.fooder-link ul li{
    float: left;
    width: 148px;
    padding: 4px 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.l-copyright-box{
    padding: 8px 0;
    background-color:#434343;
}
.l-copyright-box p{
    color: #c1c1c1;
    font-size: 14px;
}
.det-pic-div{
    width: 100%;
    height: 168px;
    overflow: hidden;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 19px;
}
.det-pic{
    display:block;
    text-align: center;
}
.det-pic>img{

    display: inline-block;
    border: 1px solid #dddddd;

}
.det-font{
    font-size: 18px;
    color: #3167a5;
    margin-bottom:17px;
    width: 100%;
    height:48px;
    overflow: hidden;
}
.det-span{
    display: inline-block;
    height: 34px;
    overflow: hidden;
}
.content-icon{
    padding-top: 8px;
    padding-right:14px;
}
.up-arrows{
    display: inline-block;
    background: url(../images/content-icon-2.jpg);
    background-size: 24px;
    width: 24px;
    height: 24px;
}
.down-arrows{
    display: inline-block;
    background: url(../images/content-icon-3.jpg);
    background-size: 24px;
    width: 24px;
    height: 24px;

}
.VideosNorms{
    margin-bottom: 14px;
}
.VideosNorms a{
    display:inline-block;
    width: 150px;
    height: 99px;
    padding-left: 8px;
    overflow: hidden;
    position: relative;
}
.VideosNorms a img{
     border: 1px solid #e0e0e0;
     width: 148px;
     height: 97px;
     overflow: hidden;
     z-index:9
}
.VideosNorms a em{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:50%;
    margin-top: -18px;
    margin-left: 59px;
    background-image: url(../images/content-icon-4.png);
    z-index:99
}
.VideosNorms a p{
    width: 150px;
    position: absolute;
    color: #ffffff;
    background-color: rgba(2, 2, 2, 0.5);
    padding: 6px 8px;
    bottom:0;
    z-index:99




}
.Videologo{
    height: 24px;
    line-height: 22px;
    background: url(../images/video.png) 10px 0 no-repeat;
    padding-bottom: 4px;
    background-size: 28px;
}

.Videologo span{
    display: inline-block;
    padding-left: 44px;
    font-size: 16px;
    color: #3167a5;
}
.SubjectPic{
    display:block;
    width:498px;
    height: 60px;
    border: 1px solid #dddddd;
    overflow: hidden;

}
.SubjectPic img{
    width:498px;
    height: 60px;
    overflow: hidden;
}
/*æ–‡ç« åˆ—è¡¨*/
.Pioneering{
    width: 316px;
    display: inline-block;
}
.Pioneering>ul>li{
    height: 36px;
    padding-left: 11px;
}
.Pioneering>ul>li>a{
    display: inline-block;
    width: 209px;
    line-height: 36px;
    font-size: 14px;

}
.Pioneering>ul>li>span{
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.Pioneering ul li a:hover{
    color: #3167a5;
    text-decoration: underline;

}
/*æ–‡ç« è¯¦ç»†*/
.operation li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 4px;
}
.operation li a {
    font-size: 14px;
    display: inline-block;
    width: 90px;
    height: 68px;
    line-height: 68px;
    padding-left: 64px;
    margin: 0 auto;
    -moz-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    -moz-transition: background-position 0.3s;
    -webkit-transition: background-position 0.3s;
    -o-transition: background-position 0.3s;
    transition: background-position 0.3s;
}
.operation .icon-operation01{
    background: url(../images/operation-icon.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation02{
    background: url(../images/operation-icon1.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation03{
    background: url(../images/operation-icon2.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation04{
    background: url(../images/operation-icon3.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation05{
    background: url(../images/operation-icon4.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation06{
    background: url(../images/operation-icon5.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation07{
    background: url(../images/operation-icon6.png) 2px center no-repeat;
    background-size: 33%;
}
.operation .icon-operation08{
    background: url(../images/operation-icon7.png) 2px center no-repeat;
    background-size: 33%;
}

.operation li a:hover{
    border-bottom: 2px solid #dae0e5\0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-position-x: 10px;

}
.personnel-pic{
    padding-top:18px;
}
.personnel-pic ul li{
    display: inline-block;
}
.ppd{
    margin-right: 20px;
}
.personnel-pic1{

    position: relative;
}
.personnel-pic1 img{
    width:142px;
    height: 185px;
    overflow: hidden;
    z-index: 99;
}
.personnel-pic1:hover .Char-intro{
    height: 118px;
    transition: height 0.5s linear;
}
.Char-intro{
    text-align: center;
    width: 142px;
    height: 66px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition: height 0.5s linear;
}
.Char-intro a{
    display:block;
    width: 142px;
}
.Char-intro a h2{
    color: #4099ff;
    font-size: 20px;
    font-weight: 500;
}
.Char-intro a p{
    text-align:left;
    padding: 0 4px;
    line-height: 18px;
}
.enterprise{
    padding-top: 25px;
    position: relative;


}
.enterprise-between{
    margin:0 auto;
}
.enterprise ul li{
    display: inline-block;
    margin: 0 13px;

}

.enterprise ul li a {
    display: inline-block;
    width: 224px;
    height: 84px;
    padding-bottom: 18px;

}
.enterprise ul li a img{
    display: inline-block;
    border: 1px solid #dfdfdf;
    width: 222px;
    height: 84px;
    overflow: hidden;

}
.enterprise ul li span{
    display: block;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
}
.lf-arrows{
    display: inline-block;
    background:url(../images/content-icon-l.jpg) no-repeat;
    width:18px;
    height: 44px;
    position: absolute;
    top:45px;
    left:15px;
    z-index: 9999;
}
.rg-arrows{
    display: inline-block;
    background: url(../images/content-icon-r.jpg) no-repeat;
    width:18px;
    height: 44px;
    position: absolute;
    top:45px;
    right:15px;
    z-index: 9999;
}
/*new-page*/
.bottom-distance{
    padding-bottom:18px;
}
